.WeatherForecast {
  text-align: center;
  margin: 60px 0;
  padding-bottom: 10px;
}
.WeatherForecast-day {
  font-size: 16px;
  line-height: 20px;
  color: rgba(39, 33, 66, 0.4);
}
.WeatherForecast-temperatures {
  font-style: normal;
  font-size: 18px;
  line-height: 1.5;
  color: #ffc478;
  font-weight: 700;
}
.WeatherForecast-temperature-min {
  margin-left: 10px;
  opacity: 0.6;
}
